<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body id="top">

    {%- if layout.hideHeader != true -%}
      {%- include header.html -%}
    {%- endif -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        {%- unless layout.hideBreadcrumb == true -%}
        {%- assign breadcrumb_title = site.subtitle | default: site.title -%}
          <div class="breadcrumb-container">
              <span class="breadcrumb-home"><a href="{{ '/' | relative_url }}">{{ breadcrumb_title }}</a></span> \
              <span class="breadcrumb-current">{{ page.title }}</span>
          </div>
        {%- endunless -%}

        {{ content }}

      </div>
    </main>

    {%- if layout.hideFooter != true -%}
      {%- include footer.html -%}
    {%- endif -%}

  </body>

</html>
